extends layouts/default

block content
	- var data = [{coupon: 35,quantity: 1,price: 1.99,remain: 3}, {coupon: 0,quantity: 1,price: 100.99,remain: 3}, {coupon: 15,quantity: 1,price: 21.99,remain: 3}, {coupon: 20,quantity: 1,price: 91.99,remain: 3}, {coupon: 12,quantity: 1,price: 11.99,remain: 3}];
	- var total = 0
	each item in data
		-	total += (item.price - (item.price * (item.coupon / 100)))
	- total = total.toFixed(2);
	table.table.table-hover
		thead
			tr
				th(scope='col') Product
				th(scope='col') Discount
				th(scope='col') Quantity
				th(scope='col') Price
				th(scope='col') Action
		tfoot
			tr
				th(scope='row').hide-xs
				td.hide-xs
				td.hide-xs
				td
					| total: $
					span.total= total
				td.hide-xs
			tr
				th
					button.btn.btn-warning(type='button')
							span.badge
								i.mr-2.pg-arrow_left_line_alt
							| Continue Shopping
				td(scope='row').hide-xs
				td.hide-xs
				td.hide-xs
				td
					button.btn.btn-success(type='button', data-toggle="modal", data-target="#checkOutBox")
							| CheckOut
							span.badge
								i.ml-2.pg-arrow_lright_line_alt
		
		tbody
		each item in data
			tr
				th(scope='row')
					figure.figure.d-md-flex
						img.figure-img.img-fluid.rounded.col-md-2.mr-3.sample(src='https://www.kfc.ca/Content/OnlineOrderingImages/StaticPage/story/story_28_lrg.jpg')
						figcaption.figure-caption 
							h4 Product Tilte
							p Brief Content
				td
					if item.coupon > 0
						span= item.coupon
						| %
					else
						span.coupon N/A
				td 
					select.custom-select
						- var n = 1
						while n <= item.remain
							if n == 1
								option(selected, value=n)= n++
							else
								option(value=n )= n++
				td 
					| $
					span.price(value=item.price)= item.price
				td 
					.btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
						.btn-group.mr-2(role='group', aria-label='First group')
							button.btn.btn-secondary.btn-info(type='button', data-placement="left", data-toggle='popover', data-trigger='focus', title='Remaining', data-content=item.remain) 
								i.fas.fa-sync-alt
						.btn-group(role='group', aria-label='Second group')
							button.btn.btn-secondary.btn-danger(type='button', onclick='del(this)')
								i.fas.fa-trash-alt